@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Nunito', sans-serif;
}

/* NAVBAR */
#navbar {
  position: fixed;
  background: rgba(0, 0, 0, 0.15);
  width: 100%;
  text-align: center;
  padding: 3px;
  z-index: 1;
}

#navbar a {
  padding: 0 3vw;
  text-decoration: none;
  color: black;
  font-size: 20px;
}

/* SECTION */
section {
  height: 100vh;
  min-height: 1000px;
  text-align: center;
}

section h1 {
  font-size: 50px;
  padding-top: 30px;
}

section p {
  color: ghostwhite;
  margin-bottom: 30px;
}

/* WELCOME */
#welcome-section {
  background: rgba(0, 0, 100, 0.5);
  min-height: 100vh;
}

#welcome-section h1 {
  border: 3px pink solid;
  padding-top: 40vh;
  font-size: 80px;
}

#welcome-section p {
  border: 3px pink solid;
  text-align: center;
}

/* SKILLS */
#skills {
  background: rgba(50, 100, 150, 0.5);
  position: relative;
}

.card-container {
  position: absolute;
  top: 50vh;
  width: 80%;
  display: flex;
  justify-content: space-around;
  transform: translateY(-50%);
  margin: 0 0 30px 10%;
  padding: 40px 0 20px 0;
  border: 3px pink solid;
}

.logo-card img {
  width: 200px;
  height: 300px;
}

/* PROJECTS */
#projects {
  position: relative;
  background: rgba(0, 100, 0, 0.5);
}

#projects h1 {
  padding: 30px 0 3px 0;
  text-align: center;
  font-size: 40px;
}

.project-tile {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 3% 0 0 0%;
  grid-gap: 10vw;
}

.project-tile a {
  text-decoration: none;
  color: black;
}

.tile {
  background: rgba(0, 0, 0, 0.1);
  border: 3px pink solid;
  padding: 30px;
  width: 75%;
  margin: auto;
  transition: all 0.25s ease;
  display: grid;
  grid-auto-rows: 3fr 1fr;
  height: 300px;
}

.tile img {
  width: 100px;
  height: 100px;
  margin-bottom: 30px;
}

.tile h2 {
  border-top: 3px rgba(0, 0, 0, 0.2) solid;
  padding-top: 18px;
}

.tile:hover {
  transform: scale(1.1);
}

#project-landing-page {
  background: url('https://i.ibb.co/QN57D2N/project-landing-page.png');
  background-size: cover;
  background-position: center;
}

#project-tribute-page {
  background: url('https://i.ibb.co/xHxLFvR/project-tribute-page.png');
  background-size: cover;
  background-position: center;
}

#project-survey-form {
  background: url('https://i.ibb.co/RHhvTNg/project-survey-form.png');
  background-size: cover;
  background-position: center;
}

#project-technical-documentation {
  background: url('https://i.ibb.co/mSr1HdM/project-technical-documentation.png');
  background-size: cover;
  background-position: center;
}

/* CONTACT */
#contact {
  position: relative;
}

.profile-container {
  position: absolute;
  top: 50vh;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-evenly;
  border: 3px pink solid;
  width: 80%;
  padding: 50px 0;
  margin-left: 10%;
}
.profile-http img {
  width: 10vw;
  height: 10vw;
}

/* CONTACT */
#contact {
  background: rgba(100, 0, 0, 0.5);
}

/* FOOTER */
footer {
  width: 100%;
  text-align: center;
  background: rgba(0, 100, 0, 0.5);
  color: ghostwhite;
  padding: 5px;
}

/* MEDIA QUERIES */
@media (max-width: 800px) {
  #welcome-section h1 {
    border: 3px pink solid;
    font-size: 30px;
  }

  .card-container {
    position: absolute;
    top: 50vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transform: translateY(-50%);
    margin: 50px 0 30px 10%;
    padding: 10px 0 10px 0;
    border: 3px pink solid;
  }

  .logo-card img {
    width: 75px;
    height: 150px;
  }

  .project-tile {
    grid-template-columns: 1fr;
    width: 100%;
    margin-left: 0%;
    margin-top: 0;
    top: 0;
    transform: scale(0.75);
  }

  #projects {
    overflow-y: scroll;
  }
}
